@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Gabarito", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
.error {
  text-align: center;
}
.not_found_img {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
